html {
  width: 1922px;
  margin: 0 auto;
  height: auto;
}

.bg {
  background-clip: content-box;
  background-repeat: no-repeat;
}

h1,
h2 {
  font-family: Roboto Condensed;
  font-weight: 700;
}

p,
button {
  color: #fff;
  font-family: Roboto;
}

header {
  background-image: url('./assets/bg/header/headerbg.png');
  width: 1922px;
  height: 892px;
  position: relative;
  overflow: hidden;
}

.layers {
  width: 100%;
  height: 100%;
  position: absolute;
}

.layer1 {
  display: flex;
  justify-content: space-between;
}

.layer1_left {
  background-image: url('./assets/bg/header/Lleft.png');
  background-position: left;
  width: 100%;
}

.layer1_right {
  background-image: url('./assets/bg/header/Lright.png');
  background-position: right;
  width: 100%;
}

.layer2 {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.layer2_left {
  background-image: url('./assets/bg/header/MafiaCostume_2022left.png');
  background-position: bottom left;
  width: 100%;
}

.layer2_right {
  background-image: url('./assets/bg/header/MafiaCostume_2022right.png');
  background-position: 259px bottom;
  width: 100%;
}

.layer3 {
  background-image: url('./assets/bg/header/Lbottom.png');
  background-position: bottom;
  z-index: 2;
}

.layer4 {
  background-image: url('./assets/bg/header/BLUE\ GLOW\ 3.png');
  background-position: bottom;
  z-index: 3;
}

.layer5 {
  background-image: url('./assets/bg/header/glow\ 1.png');
  background-position: center;
  mix-blend-mode: screen;
  z-index: 3;
}

.layer6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 64px;
  z-index: 4;
}

.logo {
  background-image: url('./assets/logo.png');
  width: 376px;
  height: 285px;
}

.box {
  position: absolute;
  top: 26%;
  background-image: url('./assets/boxes.png');
  width: 766px;
  height: 525px;
  margin-right: 53px;
}

.logoTitle > h1 {
  color: #fff;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 42px;
  user-select: none;
}

.logoTitle > p {
  font-size: 20px;
  margin-top: 17px;
  user-select: none;
}

/* kit */

.kit {
  position: relative;
  width: 1922px;
  height: 1060px;
  background-image: url('./assets/bg/kit/background\ wall.png');
  background-size: cover;
}

.kit__layer1 {
  background-image: url('./assets/bg/kit/BLUE\ GLOW\ 1.png');
  background-position: bottom;
}

.kitWrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 32px;
  padding-right: 330px;
  padding-left: 360px;
}

.kitPet {
  position: relative;
}

.kitCircle {
  width: 680px;
  height: 686px;
  border-radius: 686px;
  border: 1px solid #000;
  opacity: 0.2;
  background: #416df4;
  mix-blend-mode: lighten;
  filter: blur(100px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kitDescription {
  padding-top: 26px;
}

.kitWrapper h2 {
  color: #416df4;
  font-size: 30px;
  margin-bottom: 45px;
}

.kitVito {
  background-image: url('./assets/Vito\ 1.png');
  width: 441px;
  height: 891px;
  position: relative;
  z-index: 1;
}

.servers {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 9px;
}

.servers > div {
  border: 1px solid rgba(103, 29, 0, 0.48);
  background: rgba(0, 0, 0, 0.55);
}

.servers > div:first-child {
  margin-right: 13px;
}

.servers > div > p {
  color: #671d00;
  font-size: 12px;
  text-align: center;
  padding: 4px 9px;
}

.loot {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(103, 29, 0, 0.48);
  background: rgba(0, 0, 0, 0.55);
  width: 632px;
  height: 74px;
  padding: 5px 0 4px 6px;
}

.lootWrapper {
  margin-bottom: 22px;
}

.loot > div {
  display: flex;
  align-items: center;
}

.loot img {
  margin-right: 20px;
}

.kitBox {
  display: flex;
}

.boxImg {
  background-image: url('./assets/box.png');
  width: 266px;
  height: 323px;
}

.purchase {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 58px;
}

.purchase p {
  font-size: 50px;
}

.purchase button {
  border-radius: 7px;
  background: #fcff00;
  color: #000;
  font-size: 16px;
  padding: 11px 38px;
  margin-top: 11px;
}
